* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*ADD MEDIA QUERIES FOR PHONES
*/
@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
}

.content {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

section {
  font-weight: 300;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-align: center;
  scroll-snap-stop: normal;
}

.front-page {
  position: relative;
  background: #8a8635;
}

.number {
  font-size: 15em;
  position: absolute;
  top: 5%;
  color: blue;
}

.date {
  position: absolute;
  top: 25%;
  letter-spacing: 2px;
  color: #eeeeee;
}

.number-title {
  position: absolute;
  transform: rotate(-90deg);
  left: 5%;
  bottom: 20%;
  font-size: 5em;
  color: blue;
}

.authors {
  position: absolute;
  transform: rotate(-90deg);
  right: -20%;
  width: 50%;
  margin-right: 5%;
  color: #eeeeee;
}

.one {
  background: #91c483;
  position: relative;
}

.author {
  position: absolute;
  top: 15%;
  left: 5%;
}

.title {
  position: absolute;
  top: 20%;
  left: 5%;
}

.text-left {
  position: absolute;
  left: 5%;
  top: 25%;
  height: 50%;
  width: 44%;
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
  color: #353434;
}

.text-right {
  position: absolute;
  right: 5%;
  top: 15%;
  height: 50%;
  width: 44%;
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
  color: #353434;
}

.col-left {
  position: absolute;
  left: 15%;
  top: 25%;
  height: 50%;
  width: 30%;
  color: #353434;
}

.col-right {
  position: absolute;
  right: 15%;
  top: 25%;
  height: 50%;
  width: 30%;
  color: #353434;
}

.continue-poem {
  position: relative;
}

.continue-poem .col-left {
  position: absolute;
  left: 15%;
  top: 15%;
  height: 50%;
  width: 30%;
  color: #353434;
}

.continue-poem .col-right {
  position: absolute;
  right: 15%;
  top: 15%;
  height: 50%;
  width: 30%;
  color: #353434;
}

.one hr {
  border: 1px solid green;
}

.two {
  background: #eeeeee;
  position: relative;
}

.three {
  background: #ff6464;
  position: relative;
}

.four,
.continue-poem {
  background: #977171;
  position: relative;
}

.five {
  background: #8a8635;
  position: relative;
}
