:root {
  --content-text: #353434;
  --title-blue: #79c1f2;
  --title-text: #dad9d6;
  --theme-one-color: #bb8588;
  --theme-two-color: #cdb699;
  --theme-three-color: #869aae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.content {
  height: 100vh;
}

section {
  font-weight: 300;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 15em;
  position: absolute;
  top: 40px;
  color: var(--title-blue);
}

.date {
  position: absolute;
  top: 200px;
  letter-spacing: 2px;
  color: var(--title-text);
}

.number-title {
  position: absolute;
  transform: rotate(-90deg);
  left: 1%;
  margin-bottom: -20%;
  font-size: 5em;
  color: var(--title-blue);
}

.authors {
  position: absolute;
  transform: rotate(-90deg);

  margin-right: 15%;
  color: var(--title-text);
}

.author {
  position: absolute;
  top: 55px;
  left: 5%;
  color: var(--content-text);
}

.title {
  position: absolute;
  top: 55px;
  left: 50%;
  color: var(--content-text);
  text-transform: uppercase;
}

.text {
  column-count: 2;
  column-gap: 50px;

  position: absolute;
  top: 125px;
  left: 5%;
  right: 5%;
  height: fit-content;
  line-height: 1.3;
  text-align: justify;
  text-justify: inter-word;
  color: var(--content-text);
}

.poem {
  column-count: 3;

  position: absolute;
  top: 135px;
  left: 5%;
  right: 5%;
  height: fit-content;
  color: var(--content-text);
}

.dialogue {
  column-count: 2;

  position: absolute;
  top: 135px;
  left: 5%;
  right: 5%;
  height: fit-content;
  color: var(--content-text);
}

.dialogue-left {
  text-align: left;
  text-align: justify;
  font-style: italic;
}

.dialogue-right {
  float: right;
  text-align: right;
  text-align: justify;
  margin-left: 20%;
}

.front-page {
  position: relative;
  background: #ac993c;
}

.continue-poem {
  position: relative;
}

.one {
  background: var(--theme-one-color);
  position: relative;
}

.two {
  background: var(--theme-two-color);
  position: relative;
}

.three {
  background: var(--theme-three-color);
  position: relative;
}

.four,
.continue-poem {
  background: var(--theme-one-color);
  position: relative;
}

.five {
  background: var(--theme-two-color);
  position: relative;
}

.six {
  background: var(--theme-three-color);
  position: relative;
}

.seven {
  background: var(--theme-one-color);
  position: relative;
}

@media screen and (max-width: 35em) {
  .authors {
    position: absolute;
    transform: rotate(-90deg);
    left: 8%;
    width: 500px;
    font-size: 0.7em;
  }

  .number {
    font-size: 7em;
    position: absolute;
    top: 15%;
    left: 30%;
    color: var(--title-blue);
  }

  .date {
    position: absolute;
    top: 23%;
    left: 30%;
    font-size: 0.6em;
    letter-spacing: 2px;
  }

  .number-title {
    right: 16%;
    top: 60%;
    font-size: 5em;
  }

  .author,
  .title,
  .text,
  .poem,
  .dialogue {
    margin-top: 5em;
    line-height: 1.4;
  }

  .text {
    column-count: 1;
    font-size: 0.9em;
  }

  .poem {
    column-count: 1;
    font-size: 0.9em;
  }

  .dialogue {
    column-count: 1;
    font-size: 0.9em;
  }

  .one {
    height: 320vh;
  }

  .two {
    height: 310vh;
  }

  .three,
  .five {
    height: 270vh;
  }

  .four {
    height: 680vh;
  }

  .six {
    height: 370vh;
  }

  .seven {
    height: 800vh;
  }
}

@media screen and (min-width: 35em) {
  .authors {
    position: absolute;
    transform: rotate(-90deg);
    left: 40%;
    width: 500px;
    font-size: 0.7em;
  }

  .number {
    font-size: 10em;
    position: absolute;
    top: 15%;
    left: 45%;
    color: var(--title-blue);
  }

  .date {
    position: absolute;
    top: 27%;
    left: 45%;
    font-size: 0.6em;
    letter-spacing: 2px;
  }

  .number-title {
    top: 50%;
    font-size: 5em;
  }

  .author,
  .title,
  .text,
  .poem,
  .dialogue {
    margin-top: 5em;
    line-height: 1.2;
  }

  .text {
    column-count: 1;
    font-size: 0.9em;
  }

  .poem {
    column-count: 2;
    font-size: 0.9em;
  }

  .dialogue {
    column-count: 1;
    font-size: 0.9em;
  }

  .one {
    height: 230vh;
  }

  .two {
    height: 220vh;
  }

  .three,
  .five {
    height: 200vh;
  }

  .four {
    height: 150vh;
  }

  .six {
    height: 270vh;
  }

  .seven {
    height: 380vh;
  }
}

@media screen and (min-width: 44em) {
  .authors {
    position: absolute;
    transform: rotate(-90deg);
    left: 60%;
    width: 500px;
  }

  .one,
  .two,
  .three,
  .five {
    height: 140vh;
  }

  .four {
    height: 300vh;
  }

  .six {
    height: 240vh;
  }

  .seven {
    height: 320vh;
  }
}

@media screen and (min-width: 60em) {
  .authors {
    position: absolute;
    transform: rotate(-90deg);
    left: 65%;
    width: 600px;
  }

  .text {
    column-count: 1;
    font-size: 1em;
  }

  .poem {
    column-count: 2;
    font-size: 1em;
  }

  .dialogue {
    column-count: 1;
    font-size: 1em;
  }

  .one,
  .two,
  .three,
  .five {
    height: 140vh;
  }

  .four {
    height: 330vh;
  }

  .six {
    height: 210vh;
  }

  .seven {
    height: 330vh;
  }

  .text {
    column-count: 2;
    column-gap: 50px;
  }
}
