:root {
  --content-text: #353434;
  --title-blue: #79c1f2;
  --title-text: #dad9d6;
  --theme-one-color: #bb8588;
  --theme-two-color: #cdb699;
  --theme-three-color: #869aae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.content {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

section {
  font-weight: 300;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.number {
  font-size: 15em;
  position: absolute;
  top: 40px;
  color: var(--title-blue);
}

.date {
  position: absolute;
  top: 200px;
  letter-spacing: 2px;
  color: var(--title-text);
}

.number-title {
  position: absolute;
  transform: rotate(-90deg);
  left: 1%;
  margin-bottom: -20%;
  font-size: 5em;
  color: var(--title-blue);
}

.authors {
  position: absolute;
  transform: rotate(-90deg);

  margin-right: 15%;
  color: var(--title-text);
}

.author {
  position: absolute;
  top: 55px;
  left: 5%;
  color: var(--content-text);
}

.title {
  position: absolute;
  top: 55px;
  left: 50%;
  color: var(--content-text);
  text-transform: uppercase;
}

.text {
  column-count: 2;
  column-gap: 50px;

  position: absolute;
  top: 125px;
  left: 5%;
  right: 5%;
  height: fit-content;
  line-height: 1.3;
  text-align: justify;
  text-justify: inter-word;
  color: var(--content-text);
}

.poem {
  column-count: 3;

  position: absolute;
  top: 135px;
  left: 5%;
  right: 5%;
  height: fit-content;
  color: var(--content-text);
}

.front-page {
  position: relative;
  background: #ac993c;
}

.continue-poem {
  position: relative;
}

.one {
  background: var(--theme-one-color);
  position: relative;
}

.two {
  background: var(--theme-two-color);
  position: relative;
}

.three {
  background: var(--theme-three-color);
  position: relative;
}

.four,
.continue-poem {
  background: var(--theme-one-color);
  position: relative;
}

.five {
  background: var(--theme-two-color);
  position: relative;
}

@media screen and (max-width: 44em) {
  .authors {
    position: absolute;
    transform: rotate(-90deg);
    left: 40%;
    width: 500px;
  }

  .number {
    font-size: 10em;
    position: absolute;
    top: 40px;
    color: var(--title-blue);
  }

  .date {
    position: absolute;
    top: 150px;
    font-size: 0.8em;
    letter-spacing: 2px;
  }

  .title {
    position: absolute;
    top: 55px;
    left: 50%;
  }

  .one,
  .two,
  .three,
  .five,
  .six {
    height: 200vh;
  }

  .four {
    height: 150vh;
  }
}

@media screen and (min-width: 44em) {
  .authors {
    position: absolute;
    transform: rotate(-90deg);
    left: 60%;
    width: 500px;
  }

  .one,
  .two,
  .three,
  .five,
  .six {
    height: 150vh;
  }

  .four {
    height: 120vh;
  }
}

@media screen and (min-width: 60em) {
  .authors {
    position: absolute;
    transform: rotate(-90deg);
    left: 65%;
    width: 600px;
  }
}
